body{
    margin:0;
    background-color: black;
    font-family: Helvetica,"游ゴシック","Yu Gothic";
    color:white;
    width:100%;
}
h1,ul,li{
    margin: 0;
    padding: 0;
}

.important{
    color: red;
    font-weight: bold;
}

header{
    color:lightblue;
    height: 60px;
    font-size: 30px;
    text-align: center;
}

img{
    
}